blinker==1.4
cassandra-pylib==0.0.0
certifi==2023.7.22
charset-normalizer==3.2.0
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
distro-info==1.1+ubuntu0.1
docopt==0.6.2
docutils==0.15.2
httplib2==0.20.2
ibm-cos-sdk==2.7.0
ibm-cos-sdk-core==2.7.0
ibm-cos-sdk-s3transfer==2.7.0
ibm-watson-machine-learning==1.0.308
idna==3.4
importlib-metadata==4.6.4
jeepney==0.7.1
jmespath==0.10.0
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lomond==0.3.3
more-itertools==8.10.0
numpy==1.24.4
oauthlib==3.2.0
packaging==23.1
pandas==1.5.3
pipreqs==0.4.13
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==5.4.1
requests==2.31.0
SecretStorage==3.3.1
six==1.16.0
ssh-import-id==5.11
tabulate==0.9.0
unattended-upgrades==0.1
urllib3==2.0.4
wadllib==1.3.6
yarg==0.1.9
zipp==1.0.0
